.overflow-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

#todoTextCell {
  max-width: 30rem;
}
#actionsHeading {
  display: none;
}

@media (max-width: 1280px) {
  #todoTextCell {
    max-width: 14rem;
  }
}
@media (max-width: 992px) {
  #todoTextCell {
    max-width: 10rem;
  }
  #actionsHeading {
    display: inline;
  }
}
